<html>
<head>
	<title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/datepicker.css" type="text/css" />
{#    <link rel="stylesheet" media="screen" type="text/css" href="css/layout.css" />#}
    <script type="text/javascript" src="{{ STATIC_URL }}jscripts/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jscripts/datepicker.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jscripts/eye.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jscripts/utils.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jscripts/layout.js?ver=1.0.2"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}jscripts/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}jscripts/jscripts.js" ></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jscripts/equalHeight.js"> </script>
	<link href="{{ STATIC_URL }}css/base.css" type="text/css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}css/styletable.css" type="text/css" rel="stylesheet" />
    {% block header %}{% endblock %}
</head>
<body>
	<div id="main">
		<div id="header">

        <div class="login" style="display: none;" id="login_div">
        	<!--<img src="{{ STATIC_URL }}img/login.png">-->
            <form action="/login_ajax/" method="POST">{% csrf_token %}
                <span style="display: none; color: red;" id="login_error">Вы ввели не правильное <br>имя или пароль</span>
                {{ form_login.login.errors }}
                <label class="label_login" for="id_login">Ваш логин <br>
                {{ form_login.login }}<br/>
                <img class="inputIcon" src="../static/img/user_16.png">
                </label>
                
                {{ form_login.password.errors }}
                <label class="label_login" for="id_password">Ваш пароль<br>
                {{ form_login.password }}<br/>
                <img class="inputIcon" src="../static/img/key_16.png">
                </label>
                                         
                <input class="button_login" type="button" value="Отправить" onClick="checkLogin()">
             </form>
            <!--<a class="vxod" href="logged_in.html"></a>-->

        </div>
            <a class="img" href="#" id="login"></a>
        </div>

        <div id="menu"> 
        	<p>Главная  	 Онлайн фильм		Трейлер			Поиск</p>
        </div>
        
        <div id="main_content">
            <div id="left_menu">
            </div>
            
            <div id="content1">
                <div id="content">
                    {% block content %} {% endblock %}
                </div>   
                
                <div id="page_number">
                </div>
            </div>
                
            
            
            <div id="right_menu">
            </div>
         </div>
        <div class="clear" id="footer">
                {% block footer %} 
            	<p>Thanks for visiting our website</p>
            	{% endblock %}
        </div>
	</div>
</body>
</html>