<html>
<head>
	<title>{% block title %}{% endblock %}</title>
       <link rel="stylesheet" href="{{ STATIC_URL }}css/datepicker.css" type="text/css" />
<!--        <link href="{{ STATIC_URL }}css/base.css" type="text/css" rel="stylesheet" />
        <link href="{{ STATIC_URL }}css/styletable.css" type="text/css" rel="stylesheet" />
{#    <link rel="stylesheet" media="screen" type="text/css" href="css/layout.css" />#} -->
    <script type="text/javascript" src="{{ STATIC_URL }}jscripts/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jscripts/datepicker.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jscripts/eye.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jscripts/utils.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jscripts/layout.js?ver=1.0.2"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}jscripts/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}jscripts/jscripts.js" ></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jscripts/equalHeight.js"> </script>
	<link href="{{ STATIC_URL }}css/style.css" type="text/css" rel="stylesheet" />
    <!-- <link href="{{ STATIC_URL }}css/styletable.css" type="text/css" rel="stylesheet" /> -->
    {% block header %}{% endblock %}
</head>
<body>
	<div id="wrapper">
		<div id="header">
        		
                <div id="header_img"> </div>
                                              
                    <form class="login" id="login_div" style="display: none;" action="/login_ajax/" method="POST">{% csrf_token %}
                        <span style="display: none; color: red;" id="login_error">Вы ввели не правильный <br>логин или пароль</span>
                        <span style="color: red; display: none;" id="emptyField">Не указан логин <br>или пароль</span>
                        {{ form_login.login.errors }}
                        <label class="label_login" for="id_login">Ваш логин <br>
                        {{ form_login.login }}<br/>
                        <img class="inputIcon" src="../static/img/user_16.png">
                        </label>
                        
                        {{ form_login.password.errors }}
                        <label class="label_login" for="id_password">Ваш пароль<br>
                        {{ form_login.password }}<br/>
                        <img class="inputIcon" src="../static/img/key_16.png">
                        </label>
                        
                        <a id="button_login" href="#" onClick="checkLogin()"></a>
                        <a id="button_register" href="/createAccount/"></a>                          
                        <!-- <input class="button_login" type="button" value="Отправить" onClick="checkLogin()">  -->
                    </form>
           		{% if user.is_authenticated %}
                <a class="exit" href="/?quit=True"></a>
                {% else %}
               <a class="img_login" href="#" id="login"></a>
                {% endif %}

        </div>
        

        <div id="search">
            <a id="search_main_bt" href="/" onClick="checkLogin()">
                <img id="search_main_bt" src="{{ STATIC_URL }}img/search_main_bt.png">
            </a>
            <input type="text" >
            <img id="icon" src="../static/img/search_16.png">
            <!-- <a id="search_main_bt" href="#" onClick="checkLogin()">
                <img id="search_bt" src="{{ STATIC_URL }}img/search_button.png">
            </a> -->

            <img id="search_bt" src="{{ STATIC_URL }}img/search_button.png" usemap="#map_search">
            <map name="map_search">
                <area shape="poly" coords="0,5, 17,0, 88,0, 88,35, 17,35, 0,30" href="createAccount/"> </area>
                <area shape="poly" coords="89,0, 111,17, 111,30, 89,35" href="createAccount/" title="Расширеный поиск"> </area>
            </map>

        </div>
        
        <div id="main_content">
            <div id="left_menu" >
                <div id="genre" class="BlockBorder">
                    <p>Жанры</p>
                    <ol>
                    {% for g in GENRE_LIST %}
                        <li id="imgList"><a href="/?&genre={{ g.name }}">{{ g.name }}</a>  {{ g.films_set.count }}</li>
                    {% endfor %}
                    </ol>
                </div>
            </div>
            
            <div id="content_block">
                <div id="content" class="BlockBorder">
                    {% block content %} {% endblock %}
                </div>   
                
                <div id="page_number" class="BlockBorder">
                    gshhdfhdj
                </div>
            </div>
                        
            <div id="right_menu">
                <div id="top_20" class="BlockBorder">
                    <p>Top - 20</p> 
                </div>
                <div id="top_20" class="BlockBorder">
                    <p>Top - 20</p> 
                </div>
            </div>
         
        <div class="clear">
        </div>

        </div>

        <div id="footer">
            <img id="cola" src="{{ STATIC_URL }}img/cola.png">
            <img id="popcorn" src="{{ STATIC_URL }}img/popcorn.png">
                {% block footer %}
            	<p>Thanks for visiting our website</p>
            	{% endblock %}
        </div>
	</div>
</body>
</html>