<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<script type="text/javascript" src="{{ STATIC_URL }}jscripts/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}jscripts/jscripts.js" ></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jscripts/equalHeight.js"> </script>
	<link href="{{ STATIC_URL }}css/base.css" type="text/css" rel="stylesheet" />
</head>
<body>
	<div id="main">
		<div id="header">

        <div style="display: none; text-align: right;" id="login_div">
            <form action="/login/" method="POST">{% csrf_token %}
                {{ form.login.errors }}
                <label for="id_login">Ваш логин</label>
                {{ form.login }}<br/>
                {{ form.password.errors }}
                <label for="id_password">Ваш пароль</label>
                {{ form.password }}<br/>
                <input type="submit" value="Отправить">
            </form>

        </div>
            <a class="img" href="#" id="login"></a>
        </div>

        <div id="menu"> 
        	<p>Главная  	 Онлайн фильм		Трейлер			Поиск</p>
        </div>
        
        <div id="main_content">
            <div id="left_menu">
            </div>
            
            <div id="content">
                {% block content %} {% endblock %}
            </div>
            
            <div id="right_menu">
            </div>
         </div>
        <div class="clear">
                {% block footer %} 
            	<p>Thanks for visiting our website</p>
            	{% endblock %}
        </div>
	</div>
</body>
</html>