<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Главная страница</title>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css_index/style.css">
</head>
<body>
	<div id="wrapper">
		<DIV id="topLine"></DIV>
		<div id="header">
			<div id="logo"><a href="index.html"> </a></div>
			<div id="faq"><a href="faq.html"> </a> </div>
			<div id="nov">
				<ul>
					<li><a href="index.html" class="active"> HOME </a></li>
					<li><a href="about.html"> ABOUT </a></li>
					<li><a href="services.html"> SERVICES </a></li>
					<li><a href="partners.html"> PARTNERS </a></li>
					<li><a href="solutions.html"> SOLUTIONS </a></li>
				</ul> 
			</div>
		</div>
		<div id="people">
			<div id="peopleT">
				<h1>FUSCE A SAPIEN AC JUSTO</h1>
				<p>Phasellus at elit velit, ac</p>
			</div>
			<div id="peopleImg"></div>
			<div id="peopleLine"></div>
		</div>
		<div id="blockColor">
			<div id="bColors">
				<div id="ColorBlue">
					<img src="{{ STATIC_URL }}images/colorBlueImg.png">
					<h1> Dedicated 24/7 Support </h1>
					<p> Pellentesque tellus tortor, lobortis eget venenatis non, aliquet a massa. Mauris aliquam ultrices lectus, quis </p>
					<a href="blue.html">Read More</a>
				</div>
				<div id="ColorYellow">
					<img src="images/ColorYellowImg.png">
					<h1> Quality Assured Services </h1>
					<p> Mauris euismod enim aliquet orci cursus aliquet. Nam lectus magna, varius nec aliquet in, pharetra eu felis. </p>
					<a href="yellow.html">Read More</a>
				</div>
				<div id="ColorGreen">
					<img src="images/ColorGreenImg.png">
					<h1> Our Focus </h1>
					<p> Etiam ut ligula orci. Praesent malesuada leo eu magna ultricies malesuada. Cras et velit a mi  </p>
					<a href="green.html">Read More</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>