{% extends "base.html" %}


{% block content %} 
	{% if form.errors %}
		<p style="color: red"> Please correct the error {{ form.error|pluralize }}</p>
	{% endif %}
	<form action="" method="POST"> {% csrf_token %}
		<table>
			{{ form.name.errors }}
			<label for="id_name"> Назва фильма </label>
			{{ form.name }} <br/>
			{{ form.director.errors }}
			<label for="id_director"> Режисёр </label>
			{{ form.director }}<br/>
			{{ form.description.errors }}
			<label for="id_description"> Описание фильма </label>
			{{ form.description }}<br/>
			{{ form.link.errors }}
			<label for="id_link"> Ссылка на фильм </label>
			{{ form.link }}<br/>
			{{ form.releaseDate.errors }}
			<label for="id_releaseDate"> Дата выпуска фильма </label>
			{{ form.releaseDate }}<br/>
			{{ form.authors.errors }}
			<label for="id_authors"> Авторы сценария </label>
			<div style="display: block">
			{{ form.authors }}<br/>
			<ul id="authors_list"></ul>
			<ul style="display:none" id="f">
				{% for d in authors_list %}
				<li> {{ d }} </li>
				{% endfor %}
			</ul>
			</div>
			{{ form.genre.errors }}
			<label for="id_genre"> Жанр </label>
			{{ form.genre }}<br/>
			<div style="display: none" id="addGenreBlock">
				{{ form.addGenre.errors }}
				<label for="id_addGenre"> Добавить новый жанр </label>
				{{ form.addGenre }}<br/>
			</div>
			<input type="button" id="addGenreButton" value="Добавить жанр" onclick="addGenre1()" /><br/>
			{{ form.actors.errors }}
			<label for="id_actors"> Акторы </label>
			{{ form.actors }}<br/>
		</table>
		<input type="submit" value="Submit">
	</form>
{% endblock %}