{% extends "base.html" %}


{% block content %} 
    {% if form.errors %}
        <p style="color: red"> Please correct the error {{ form.error|pluralize }}</p>
    {% endif %}
    <form action="" id="uploadFilmForm" method="POST"> {% csrf_token %}
        <table>
            {{ form.name.errors }}
            <label for="id_name"> Назва фильма </label>
            {{ form.name }} <br/>
            {{ form.director.errors }}
            <label for="id_director"> Режисёр </label>
            {{ form.director }}<br/>
            {{ form.description.errors }}
            <label for="id_description"> Описание фильма </label>
            {{ form.description }}<br/>
            {{ form.link.errors }}
            <label for="id_link"> Ссылка на фильм </label>
            {{ form.link }}<br/>
            {{ form.releaseDate.errors }}
            <label for="id_releaseDate"> Дата выпуска фильма </label>
            {{ form.releaseDate }}<br/>
            <ul id="authors_list"></ul>
            {{ form.add_authors.errors }}
            <label for="id_add_authors"> Авторы сценария </label>
            <div style="display: block">
            {{ form.add_authors }}<br/>
                <span style="color: #ff0000; display: none;" id="added_author">Извините, этот автор уже добавлен</span>
            <ul id="f" style="display: none">
                {% for d in authors_list %}
                <li style="list-style-type: none;"> {{ d }} </li>
                {% endfor %}
            <input type="button" id="hide_authors" style="display: none;" value="Скрыть список авторов" onclick="HideAuthors(this)"/>
            </ul>
            </div>
            <!--{{ form.genre.errors }}-->
            <!--<label for="id_genre"> Жанр </label>-->
            <!--{{ form.genre }}<br/>-->
            <ul id="list_genres">
            {% for g in list_genres %}

                    <li style="list-style-type: none;"><input type="checkbox" id="{{ g }}"/> {{ g }}</li>

            {% endfor %}
            </ul>
            <div style="display: none" id="addGenreBlock">
                {{ form.addGenre.errors }}
                <label for="id_addGenre"> Добавить новый жанр </label>
                {{ form.addGenre }}<br/>
                <span style="color: red; display: none;" id="form_is_empty">Извините, но Вы не можете отправить пустую форму</span>
                <span style="color: red; display: none;" id="added_genre">Данный жанр уже добавлен</span>
            </div>
            <input type="button" id="addGenreButton" value="Добавить жанр" onclick="addGenre1()" /><br/>
            <ul id="actors_list"></ul>
            {{ form.actors.errors }}
            <label for="id_actors"> Акторы </label>
            {{ form.actors }}<br/>
            <ul id="actors_exists" style="display: none;">
                {% for a in actors_list %}
                    <li style="list-style-type:none;">{{ a }}</li>
                {% endfor %}
            </ul>
        </table>
    </form>
    <input type="button" value="Отправить" onclick="$('#uploadFilmForm').submit();">
{% endblock %}
