a:link {
color: #fef900;
}
a:visited {
color:#ff9300;
}
a:hover{
color:#f00107;
} 
label, input{
     cursor: pointer;
}
.question{
font: bold 15px Arial, Helvetica, sans-serif;
color: #FFF;
padding-top: 5px;
}

/*стили полей*/
#id_name, #id_director, #id_link, #id_releaseDate, #id_add_authors {
 background: url(../img/gradient.png)  repeat-x #fbfbe7;
     padding: 5px 10px 5px 10px;    
     font-weight: normal;
     color: #1B1B1B;
     text-decoration: none; border: 1px inset #1B1B1B;
     text-align: left;
     border-radius: 8px; 
     
     text-shadow: rgba(0,0,0, .5) 0px -1px 0px;
      border-top: inset 1px #ccc; border-left: inset 1px #ccc; border-bottom: solid 1px solid #000; border-right: 1px solid #666;
}
#id_name:focus, #id_director:focus, #id_link:focus, #id_releaseDate:focus, #id_add_authors:focus {
border: 1px solid #000000;
background: none;background-color: #ffffff;
}


#id_name, #id_director, #id_link, #id_releaseDate, #id_add_authors[type=text], #id_actors{
   width:400px;
}
#id_name, #id_director, #id_link, #id_releaseDate, #id_add_authors, #hide_authors, #id_description {margin: 0px 0px 10px 0px;}


input {   
    background: url(../img/gradient.png)  repeat-x #fbfbe7;
     padding: 5px 10px 5px 10px;    
     font-weight: normal;
     color: #1B1B1B;
     text-decoration: none; border: 1px inset #1B1B1B;
     text-align: left;
     border-radius: 8px;      
     text-shadow: rgba(0,0,0, .5) 0px -1px 0px;
      border-top: inset 1px #ccc; border-left: inset 1px #ccc; border-bottom: solid 1px solid #000; border-right: 1px solid #666;
      
}


#id_name, #id_director, #id_link, #id_releaseDate, #id_add_authors {
    transition: all 0.30s ease-in-out;-webkit-transition: all 0.30s ease-in-out;-moz-transition: all 0.30s ease-in-out;
    outline:none;
}
input:focus {
    border: 1px solid #000000;
background: none;background-color: #ffffff;
box-shadow: 0 0 5px rgba(81, 255, 255, 1);
-webkit-box-shadow: 0 0 5px rgba(81, 255, 255, 1);
-moz-box-shadow: 0 0 5px rgba(81, 255, 255, 1);
}
/*конец стилей полей*/

/*стили кнопок*/
#addGenreButton, #hide_authors, #hideActors { 
background: url(../img/background.jpg) bottom repeat-x #576AAC;
     padding: 5px 10px 5px 10px;
     text-align: center;
     font-weight: bold;
     color: #fff;
     text-decoration: none; border: 1px inset #aaa;
     -webkit-border-radius: 8px; width: auto; -moz-border-radius: 8px;  -khtml-border-radius: 8px;  border-radius: 8px;
     -moz-box-shadow: 1px 1px 1px #666;  -webkit-box-shadow: 1px 1px 1px #666;  box-shadow: 1px 1px 1px #666;
     text-shadow: rgba(0,0,0, .5) 0px -1px 0px;
      border-top: inset 1px #ccc; border-left: inset 1px #ccc; border-bottom: solid 1px solid #000; border-right: 1px solid #666;
}


#addGenreButton:hover, #hide_authors:hover, #hideActors:hover { 
 background: url(../img/background2.jpg)  repeat-x #8A98C6;
     padding: 5px 10px 5px 10px;
     text-align: center;
     font-weight: bold;
     color: #fff;
     text-decoration: none; border: 1px inset #aaa;
     border-radius: 8px; width: auto; border-radius: 8px;  border-radius: 8px;  border-radius: 8px;
     box-shadow: 1px 1px 1px #666;  box-shadow: 1px 1px 1px #666;  box-shadow: 1px 1px 1px #666;
     text-shadow: rgba(0,0,0, .5) 0px -1px 0px;
      border-top: inset 1px #ccc; border-left: inset 1px #ccc; border-bottom: solid 1px solid #000; border-right: 1px solid #666;      
}


#addGenreButton:active, #hide_authors:active, #hideActors:active{
background: #999;
     text-shadow: rgba(0,0,0, .5) 0px 1px 0px;
}
/*конец стилей кнопок*/


#id_description{
border: 1px solid #000000;
width: 400px;
}

#list_genres {
    font: normal 12px Arial, Helvetica, sans-serif;
    color: #FFF;
}

#list_genres td {
    width: 140px;
    height: 25px;
}

label {
    width: 400px;
}