@import url(reset.css);
@import url(styletable.css);

body {
	background-color: #000000;
	margin: 0 auto;
}

#wrapper {
	width: 1200px;
	/*outline: 1px solid #cccccc;*/
	background-color: #6B84CB;
	background-image: url(../img/border.png);
	background-repeat: repeat-y;
	margin: 0 auto;
	position: relative;
}

.clear {
	clear: both;
}

/* Начало блока header */

#header {
	background-image: url(../img/border_header.png);
	background-repeat: repeat-x;
	width: 1200px;
	height: 311px;
	/*outline: 1px solid #D0FF00;*/
	position: relative;
}

#header_img {
	background-image: url(../img/header_img.png);
	background-repeat: no-repeat;
	position: absolute;
	top: 30px;
	left: 95px;
	height: 281px;
	width: 1011px;
	outline: 0px solid #cc0000;
	z-index: 1;
}

.img_login {
	background:url(../img/img_login.png);
	background-repeat: no-repeat;
}

.img_logout {
	background:url(../img/img_logout.png);
	background-repeat: no-repeat;
}

.exit {
	background:url(../img/exit.png);
	background-repeat: no-repeat;
}

.img_login, .img_logout, .exit {
	display:block;
	width: 170px;
	height: 33px;
	margin-left: 995px;
	margin-top: 0px;
	padding-top: 0px;
	outline: 0px solid #9C6;
	position: absolute;
	z-index: 3;
}

.login {
	background-image:url(../img/login_block.png);
	height: 158px;
	width: 199px;
	background-repeat: no-repeat;
	margin-left: 980px;
	text-align: left;
	padding-left: 15px;
	padding-top: 35px;
	margin-bottom: 0px;
	/*float: left;*/
	outline:solid 0px #0F0;
	position: absolute;
	z-index: 2;
}

.label_login {
	font: bold 10px Arial;
	color: #ffffff;
	display:block;
	/*padding-top: 30px;*/
	position: relative;
}

.inputIcon {
	position: absolute;
	left: 140px;
	top: 17px;
}

#button_login, #button_register{
	display: block;
	height: 29px;
	float: left;
	margin-top: 2px;
}

#button_login {	
	width: 67px;
	background-image: url(../img/entry.png);
}

#button_register {
	width: 101px;
	background-image: url(../img/registration.png);
	margin-left: 5px;
}

#login_error, #emptyField {
	text-align: center;
	margin-left: 5px;
	margin-top: 2px;
}


/* Конец блока header */

/* Начало блока search */
#search {
	height: 35px;
	width: 750px;
	/*outline: solid 1px #D0FF00;*/
	position: relative;
	top: -25px;
	left: 242px;
	z-index: 2;
}

#search_main_bt, #search_bt {
	height: 35px;
	width: 111px;
}

#search_bt {
	float: right;
	/*outline: solid 1px #D0FF00;*/
}

#icon {
	position: absolute;
	left: 610px;
	top: 10px;
}

#search input {
	position: absolute;
	top: 5px;
	left: 115px;
	width: 500px;
}

#searchForm {
	position: relative;
	top: 0px;
	left: 200px;
}

#searchForm label {
	font: bold 15px Arial, Helvetica, sans-serif;
	color: #FFF;
	padding-top: 5px;
}

/* Конец блока search */


/* Начало блока main_content */


#main_content {
	/*outline: solid 1px #FF00AE;*/
}

#left_menu, #content_block {
	float: left;
}

#right_menu {
 	float: right;
 }

.BlockBorder {
	background-color: #576AAD;
	border-radius: 8px;
	border: 5px solid #7588c1;
	border-right: 2px solid #899dd5;
	border-bottom: 2px solid #899dd5;
	margin-bottom: 7px;
}

#genre, #top_20 {
	/*height: 250px;*/
	width: 180px;
}

#content_block {
	width: 730px;
	margin-left: 10px;
	/*margin-bottom: 135px;*/
	/*outline: solid 1px #00cc00;*/
}

#genre {
	margin-left: 38px;
}

a:link, a:visited  {
	text-decoration: none;
	color: #FFF8B0;
}

a:hover {
	text-decoration: none;
	color: #C62B32;
}

ol {
	list-style-image:  url(../img/listGenre.png);
	padding-left: 24px;
	padding-top: 1px;
	line-height: 1.5;
	font: normal 16px Arial,sans-serif;
}

#genre p, #top_20 p {
	text-align: center;
	color: #9F0620;
	font: italic 18px Arial, sans-serif;
	padding-top: 10px;
	/*padding-bottom: 7px;*/
}

#content {
	padding-left: 25px;
	padding-top: 25px;
	padding-bottom: 35px;
	margin-bottom: 5px;
}

#top_20 {
	margin-right: 38px;
	height: 450px;
}

#page_number {
	/*position: absolute;*/
	/*bottom: 75px;*/
	/*height: 70px;*/
	width: 723px;
	/*outline: solid 1px #00cc00;*/
	margin-top: 20px;
}

/* Конец блока main_content */


/* Начало блока footer */
#footer {
	background-image: url(../img/border_footer.png);
	background-repeat: repeat-x;
	width: 1200px;
	height: 132px;
	/*outline: 1px solid #ffffff;*/
	/*position: absolute;
	bottom: 0px;*/
}

#cola, #popcorn {
	position:absolute;
}

#cola {
	bottom: 5px;
	left: 101px;
}

#popcorn {
	bottom: 5px;
	right: 170px;
}

/* Конец блока footer */


/* Начало блока фильмы */

